body{
    font-family: Arial;
  }
    .lion-1{
      width: 200px;
      border-radius: 20px;
    }
    .lion-2{
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
    .lion-3{
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius:100px;
    }
    .search-bar{
      padding: 8px 12px;
      width: 200px;
      font-size: 20px;
      border-radius: 8px;
      border-color: rgb(166, 161, 161);
      border-width: 1px;
    }
    .google-search-bar{
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      width: 350px;
      padding: 8px 10px;
      
      border: none;
      border-radius: 28px;
      box-shadow: 3px 3px 8px rgb(167, 161, 161);
    }
    .email-label{
      color: rgb(106, 104, 104);
      font-size: 15px;
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
    }
    .email-input{
      margin-bottom: 6px;
      width: 250px;
      border-radius: 5px;
      padding: 8px 12px;
      font-size: 13px;
    }
    .p-tag{
      color: rgb(138, 138, 138);
      font-size: 12px;
    }
    .agree-btn{
      padding: 12px 85px;
      font-size: 18px;
      border: none;
      border-radius: 25px;
      color: white;
      background-color: rgb(10, 108, 205);
      margin-bottom: 50px;
    }

    .tweet-div{
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }
    .tweet-profile{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 25px;
      vertical-align: middle;
      margin-right: 5px;
    }
    .tweet-msg{
      display: inline-block;
      font-size: 18px;
      border: none;
      width: 300px;
      vertical-align: middle;
    }
    .tweet-btn{
      background-color: rgb(29, 155, 240);
      color: white;
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: bold;
      vertical-align: middle;
    }