      .sub-btn {
        background-color: rgb(255, 0, 0);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px 15px;
        cursor: pointer;
        transition: opacity 0.2s;
      }
      .sub-btn:hover {
        /* background-color: rgb(224, 96, 96); */
        opacity: 0.6;
      }
      .sub-btn:active {
        /* background-color: rgb(224, 184, 164); */
        opacity: 0.3;
      }
      .join-btn {
        margin-left: 15px;
        padding: 9px 12px;
        color: rgb(70, 136, 236);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(70, 136, 236);
        background: none;
        border-radius: 2px;
        cursor: pointer;
        transition:
          background-color 0.2s,
          color 0.2s;
      }
      .join-btn:hover {
        color: white;
        background-color: rgb(70, 136, 236);
      }
      .join-btn:active {
        opacity: 0.4;
      }
      .tweet-btn {
        color: white;
        background-color: rgb(32, 158, 255);
        border: none;
        margin-left: 15px;
        padding: 10px 18px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        transition: box-shadow 0.2s;
      }
      .tweet-btn:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }
      .div1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
      }