body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family:Montserrat;
    }
    .p-1{
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .p-2{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
    }
    span{
      text-decoration: underline;
    }